{% set title = "Newletters" %}
{% extends 'admin_with_table.html.twig' %}

{% block title %}Newsletter index{% endblock %}

{% block table_content %}
<a class="btn btn-success" href="{{ path('app_admin_newsletter_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>SendAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for newsletter in newsletters %}
            <tr>
                <td>{{ newsletter.id }}</td>
                <td>{{ newsletter.content }}</td>
                <td>{{ newsletter.sendAt ? newsletter.sendAt|date('d-m-y') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_newsletter_edit', {'id': newsletter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
