{{ form_start(form) }}
    {{ form_row(form.name) }}
    <div {{ stimulus_controller('form-collection', {
            index: form.images|length > 0 ? form.images|last.vars.name + 1 : 0,
            prototype: form_widget(form.images.vars.prototype)
        }) }}>
        <ul class="images" {{ stimulus_target('form-collection', 'collectionContainer') }}>
            {% for image in form.images %}
                <li>{{ form_row(image.name) }}</li>
            {% endfor %}
        </ul>
        <button type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>Add a tag</button>
    </div>

    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
