{% set title = "Liste des recettes" %}
{% extends 'admin_with_table.html.twig' %}

{% block actions %}
    <a class="btn btn-success" href="{{ path('app_admin_recipe_new') }}">Ajouter</a>
{% endblock %}

{% block table_content %}
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Description</th>
                <th>Level</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.name }}</td>
                <td><img width="90" src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt="{{ recipe.image }}"></td>
                <td>{{ recipe.description }}</td>
                <td>{{ recipe.level }}</td>
                <td>
                    <a href="{{ path('app_admin_recipe_edit', {'id': recipe.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
{% endblock %}
