{% set title = "Liste des ingrédients" %}
{% extends 'admin_with_table.html.twig' %}

{% block actions %}
<a class="btn btn-success" href="{{ path('app_admin_ingredient_new') }}">Ajouter</a>
{% endblock %}


{% block table_content %}
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Image</th>
            <th>Type</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for ingredient in ingredients %}
        <tr>
            <td>{{ ingredient.id }}</td>
            <td>{{ ingredient.name }}</td>
            <td><img width=50 src="{{ vich_uploader_asset(ingredient, 'imageFile') }}" alt="{{ ingredient.name }}" /></td>
            <td>{{ ingredient.type }}</td>
            <td>{{ ingredient.description }}</td>
            <td>
                <a href="{{ path('app_admin_ingredient_edit', {'id': ingredient.id}) }}">Modifier</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
