{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	<link href="{{ asset('./contact_css/contact.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts  %}
	{{ parent() }}

	<script src="{{ asset('js/password.js') }}"></script>
{% endblock %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}

	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<div class="body_contact">

		<section class="contact_section">

			<div class="main">

				<div class="left left_login">


					<div class="container_contact contain_Auth">
						<h2>Nos créations
							<br>
							originales</h2>
						<div class="container_link">
							<a href="" class="container_link_a">
								<br></a>
							<a href="" class="container_link_a">
								<br></a>
							<a href="" class="container_link_a"></a>
						</div>
					</div>
					<div class="logo_link">

						<div class="main_reseau">
							<li class="content_reseau">
								<a href="#">
									<i class="fab fa-facebook-f icon"></i>
								</a>
							</li>
							<li class="content_reseau">
								<a href="#">
									<i class="fab fa-pinterest icon"></i>
								</a>
							</li>
							<li class="content_reseau">
								<a href="#">
									<i class="fab fa-instagram icon"></i>
								</a>
							</li>
							<li class="content_reseau">
								<a href="#">
									<i class="fab fa-tiktok icon"></i>
								</a>
							</li>
						</div>
					</div>
				</div>


				<form class="right flex-grow-1" action="{{ path('app_login') }}" method="post">
					<h2>Authentification</h2>
					<div class="w-75">

						<div class="mb-3">
							<label for="username" class="form-label sr-only">Email:</label>
							<input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="_username" placeholder="Email ou Pseudo" value="{{ last_username }}">
							<div id="emailHelp" class="form-text">Votre email ne sera jamais partagé.</div>
						</div>

						<div class="form-outline mb-3">
							<label class="form-label sr-only" for="password"> Password:</label>
							<input type="password" name="_password" id="password" class="form-control" placeholder="Mot de passe">
								<i class="bi bi-eye-slash show" onclick="myFunction()"></i>
							</input>
						</div>
						<button type="submit" class="btn btn-primary">Continue</button>
						<a href="{{ path('app_subscribed') }}">S'inscire ici !</a>
						{# <div id="emailHelp" class="form-text">Vous n'avez toujours pas de compte ?</div>
						                        {# <button type="submit" class="btn btn-primary">Inscription</button> #}
					</div>

				</form>
			</div>
		</section>
	</div>
{% endblock %}
