{% extends 'admin.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
    <h1>Season index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>StartAt</th>
                <th>EndAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.name }}</td>
                <td>{{ season.startAt ? season.startAt|date('d/m/Y') : '' }}</td>
                <td>{{ season.endAt ? season.endAt|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_season_edit', {'id': season.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_season_new') }}">Create new</a>
{% endblock %}
