<div{{ attributes }}>
    {% include 'components/_search_form.html.twig' %}

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 list">
        {% for recipe in this.recipes %}
            <div class="col">
                <div class="card shadow mb-5 bg-body-tertiary rounded-4 image">
                    <img src="{{vich_uploader_asset(recipe, 'imageFile')}}" class="card-img-top" alt="image de la recette">
                    <div class="card-body overflow-hidden">
                        <h5 class="card-title text-center text-justify fs-5 text-success">{{recipe.name}}</h5>
                        <p class="card-text">{{recipe.description}}</p>
                    </div>
                    <div class="d-flex justify-content-between info">
                        <p class="saison">{{season.name}}</p>
                        <span class="material-symbols-outlined">
                            favorite
                        </span>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
    <nav class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(this.recipes, 'components/_pagination.html.twig') }}
    </nav>
</div>