{% extends 'base.html.twig' %}

{% block title %}Recettes
{% endblock %}

{% block body %}
	<header>
		<h1 class="text-center shadow">NOS RECETTES</h1>
		

{{ form_start(form)}}
<div class="pb-3 d-flex justify-content-center align-items-center gap-3 flex-column">
	{{ form_row(form.search)}}
	{{ form_row(form.submit)}}
</div>
<div class="d-flex justify-content-center align-items-center gap-3 ">
{{ form_row(form.level, { 'attr' : {'class': 'btn btn-success px-5'}})}}
{{ form_row(form.seasons, { 'attr' : {'class': 'btn btn-success px-5'}})}}
</div>
{{ form_end(form)}}
	</header>

	<main>
		<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 list">
			{% for recipe in pagination %}
				<div class="col">
					<div class="card shadow mb-5 bg-body-tertiary rounded-4 image">
						<img src="{{recipe.image}}" class="card-img-top" alt="image de la recette">
						<div class="card-body overflow-hidden">
							<h5 class="card-title text-center text-justify fs-5 text-success">{{recipe.name}}</h5>
							<p class="card-text">{{recipe.description}}</p>
						</div>
						<div class="d-flex justify-content-between info">
							<p class="saison">Saison</p>
							<span class="material-symbols-outlined">
								favorite
							</span>
						</div>
					</div>

				</div>
			{% endfor %}
		</div>
		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>
	</main>

	<script>
		const level = document.getElementById('recipe_search_level');
		const season = document.getElementById('recipe_search_seasons');
		const form = document.querySelector("[name='recipe_search']");
		function onChange() {
			form.submit();
		}
		level.addEventListener('change', onChange);
		season.addEventListener('change', onChange);
	</script>

{% endblock %}
