{% extends 'base.html.twig' %}

{% block title %}Recettes
{% endblock %}

{% block body %}
	<header>
		<h1 class="text-center shadow">NOS RECETTES</h1>
		{# <div class="searchFilter d-flex flex-column">
			<div class="searchBar">
				<form class="d-flex" role="search">
					<input class="form-control me-2" name="search" type="search" placeholder="Rechercher" aria-label="Search">
					<button class="btn btn-outline-success" name="send" type="submit">Rechercher</button>
				</form>
			</div>
		</div> #}
			{{ form_start(search_form) }}
				<div class="d-flex justify-content-center align-items-center gap-3">
					{{ form_row(search_form.level) }}
					{{ form_row(search_form.season) }}
					{{ form_row(search_form.submit) }}
				</div>
			{{ form_end(search_form)}}
	</header>

	<main>
		<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 list">
			{% for recipe in pagination %}
				<div {% if loop.index is odd %} class="col" {% endif %}>
					<div class="card shadow mb-5 bg-body-tertiary rounded-4 image">
						<img class="card-img-top" src="{{ vich_uploader_asset(recipe) }}" alt="{{ recipe.name }}">
						<div class="card-body overflow-hidden">
							<h5 class="card-title text-center text-justify fs-5 text-success">{{recipe.name}}</h5>
							<p class="card-text">{{recipe.description}}</p>
						</div>
						<div class="d-flex justify-content-between info">
							<p class="saison">Saison</p>
							<span class="material-symbols-outlined">
								favorite
							</span>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="navigation">
    		{{ knp_pagination_render(pagination) }}
		</div>
	</main>


{% endblock %}
