{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center gap-5">
        <h1 class=" py-3">Utilisateurs</h1>
        <a class="btn btn-success" href="{{ path('app_user_new') }}">Nouveau
            <i class="fa-solid fa-plus ms-3"></i>
        </a>
    </div>

    <div class="table-responsive container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                {# <th>Password</th> #}
                <th>Username</th>
                {# <th>Avatar</th> #}
                <th>IsSubscribed</th>
                <th>IsVerified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                {# <td>{{ user.password }}</td> #}
                <td>{{ user.username }}</td>
                {# <td>{{ user.avatar }}</td> #}
                <td>{{ user.isSubscribed ? 'Oui' : 'Non' }}</td>
                <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                <td>
                    <div class="d-flex justify-content-center align-items-center gap-2">
                        <a class="btn btn-success" href="{{ path('app_user_show', {'id': user.id}) }}"><i class="fa-solid fa-eye"></i></a>
                        <a class="btn btn-success" href="{{ path('app_user_edit', {'id': user.id}) }}"><i class="fa-solid fa-pen"></i></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
