{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

<!doctype html>

    <h1>User index</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th class = "text-info">Id</th>
                <th class = "text-info">Email</th>
                <th class = "text-info">Roles</th>
                <th class = "text-info">Password</th>
                <th class = "text-info">Username</th>
                <th class = "text-info">Avatar</th>
                <th class = "text-info">IsSubscribed</th>
                <th class = "text-info">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.avatar }}</td>
                <td>{{ user.isSubscribed ? 'Yes' : 'No' }}</td>
                <td>
                    <a class = "btn btn-info"href="{{ path('app_user_show', {'id': user.id}) }}"><i class="fa-solid fa-circle-info"></i></a>
                    <a class = "btn btn-danger"href="{{ path('app_user_edit', {'id': user.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class= "btn btn-secondary"href="{{ path('app_user_new') }}">Créer un Utilisateur</a>
{% endblock %}
